{% extends "base.html" %}
{% load static %}
{% block title %}
    Create Supplier
{% endblock %}

{% block load_script %}
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEpRHtEOhgdpt4OUefFTUhsxTH7wALSQ&libraries=places&callback=initMap">
    </script>

    <script>
        function initialize() {
            var input = document.getElementById('id_address');

            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.setComponentRestrictions({
                country: ["nz"],
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize)


    </script>
{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Create Supplier</h6>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-primary">Create</button>
            </form>
        </div>
    </div>

{% endblock %}