{% extends 'base.html' %} {% load render_table from django_tables2 %}

{% block title %}
    Detail Supplier Order
{% endblock %}

{% block content %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">{{ instance }}</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ instance }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

        <div class="container card">
            <div class="row mt-4">
                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center text-150">
                                <i class="fa fa-laptop-code fa-2x text-success-m2 mr-1"></i>
                                <span class="text-default-d3">{{ instance.supplier.name }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->

                    <hr class="row brc-default-l1 mx-n1 mb-4"/>

                    <div class="row" style="margin-left: 10px">
                        <!-- /.col -->

                        <div class="col-sm-6">
                            <hr class="d-sm-none"/>
                            <div class="text-grey-m2">
                                <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                    Supplier Order
                                </div>

                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">ID:</span> {{ instance.id }}
                                </div>

                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">Issue Date:</span> {{ instance.date|date:"d/m/Y" }}
                                </div>

                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">Status:</span> <span
                                        class="badge badge-warning badge-pill px-25">Confirmed</span></div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 align-content-center">
                                <div class="card">
                                    <div id='order_item_container' class="card-body">
                                        <h5 class="card-title">Order Detail</h5>
                                        <div class="table-responsive">
                                            {% render_table supplier_order %}
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pull-right m-t-30 text-right">
                                                <hr>
                                                <h3><b>Total :</b> {{ instance.tag_final_value }}</h3>
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <span class="text-secondary-d1 text-105">Thank you for your business</span>
            </div>
        </div>



{% endblock %}

{% block script %}
    {% include 'include/ajax_calls.html' %}

    <script>
        $('.edit_button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            $.ajax({
                method: 'GET',
                url: url,
                dataType: 'json',

                success: function (data) {
                    $('#order_item_container').html(data.result)
                }
            })
        });
    </script>
{% endblock %}