{% extends "base.html" %}

{% block title %}
    List Suppliers
{% endblock %}

{% block content %}

    <h2>List Suppliers</h2>

            {% for supplier in suppliers %}
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Supplier ID: {{ supplier.id }}</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Menu:</div>
                                <a class="dropdown-item" href="{% url 'update_supplier' supplier.id %}">Update Supplier</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        Name : {{ supplier.name }} <br/>
                        Phone Number : {{ supplier.phoneNumber }} <br/>
                        Email: {{ supplier.email }}
                    </div>
                </div>
            {% endfor %}
{% endblock %}