{% extends "base.html" %}

{% block title %}
    List Orders
{% endblock %}

{% block content %}

    <h2>List Orders</h2>

    {% for order in orders %}

        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#order_{{ order.id }}" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="semester_{{ order.id }}">
                <h6 class="m-0 font-weight-bold text-primary">{{ order.id }} - {{ order.customer }}</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="order_{{ order.id }}">
                <div class="card-body">
                    <a class="btn btn-primary">Update</a> <a class="btn btn-danger">Delete</a><br/><br/>
                    Customer Name : {{ order.customer.name }} <br/>
                    Status : {{ order.status }} <br/>
                    Date: {{ order.date }}
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}