{% extends "base.html" %}
{% load static %}
{% block title %}
    Update Customer
{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Update Customer</h6>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-primary">Update</button>
            </form>
        </div>
    </div>

{% endblock %}